/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.7);
}
:-moz-placeholder {
/* Firefox 18- */
  color: rgba(0,0,0,0.7);
}
::-moz-placeholder {
/* Firefox 19+ */
  color: rgba(0,0,0,0.7);
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.7);
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.no-margin-bottom {
  margin-bottom: 0;
}
main {
  margin-top: 32px;
}
main #agregar-nota input,
main .nota input,
main #agregar-nota textarea,
main .nota textarea {
  border-bottom: none;
  height: 1.5rem;
  margin: 0 0 8px;
}
main #agregar-nota input:focus,
main .nota input:focus,
main #agregar-nota textarea:focus,
main .nota textarea:focus {
  box-shadow: none !important;
  border-bottom: none !important;
}
main #agregar-nota input,
main .nota input {
  font-weight: bold;
}
main #agregar-nota textarea.materialize-textarea,
main .nota textarea.materialize-textarea {
  padding: 0;
  min-height: initial;
}
main .nota.card .card-action {
  padding: 8px 20px;
  visibility: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
main .nota.card:hover .card-action {
  visibility: visible;
}
main .nota.card {
  overflow: visible;
}
main .nota.card .card-action a {
  margin-right: 0;
}
main .categorias a:hover i {
  font-weight: 600;
}
main #main-listaNotasArchivadas {
  display: none;
}
main .editar-nota input,
main .editar-nota textarea {
  display: none;
}
